{% extends "school/base.html" %}
{% load static %}

{% block title_students %}Список учеников{% endblock %}
{% block content_students %}
<div class="row">
  <ul>
  {% for student in object_list %}
    <li>{{ student.name }} {{ student.group }} <br> Преподаватель: {{ student.teacher.name }} {{ student.teacher.subject }}</li>
  {% endfor %}
  </ul>
</div>
{% endblock %}

{% block title_teachers %}Список учителей{% endblock %}
{% block content_teachers %}
<div class="row">
   <ul> 
    {% for teacher in student.teachers.all %}
    <p>{{ teacher.name }}: {{ teacher.subject }}</p>
    {% endfor %}
   </ul>
</div>
{% endblock %}
